{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!--
Display stock information as table
-->
<h2>Transaction History</h2>
<br/>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Value of Stock Holdings</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.companyName }}</td>
            <td>{{ stock.companySymbol }}</td>
            <td>{{ stock.stockPrice | usd}}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ stock.type }}</td>
            <td>{{ stock.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
