{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<!--
Ask user for stock symbol to be inputed and then number of shares to be sold
-->
    <form action="/sell" method="post">
        <div class="mb-3">
            <select id="symbol" name="symbol">
                {% for symbol in symbols %}
                    <option name="{{ symbol }}" value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares to sell" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
